<div class="back">
  <div class="wap">




    <div class="bordurdesign">
      <div class="1round"> <button>1</button></div>
      <div class="3round"><button>3</button></div>
      <div class="5round"><button>5</button></div>

    </div>
    <div class="buttonorganised" >
      <div>        <a routerLink="/display"> display</a>      </div>
      <div>        <a routerLink="/result" rel="stylesheet">last result</a>     </div>
    </div>
    <!-- <button (click)="leaderbord('act')">Leader Bord</button> -->
  </div>
</div>
