<div class="back">
  <div class="wap">




    <div class="bordurdesign">
      <div class="1round" (click)="trunchoix(1)"> <button>1</button></div>
      <div class="3round" (click)="trunchoix(2)"><button>3</button></div>
      <div class="5round" (click)="trunchoix(3)"><button>5</button></div>

    </div>
    <div class="buttonorganised" >
      <div>        <a routerLink="/display"> display</a>      </div>
      <div>        <a routerLink="/result" rel="stylesheet">last result</a>     </div>
    </div>
    <!-- <button (click)="leaderbord('act')">Leader Bord</button> -->
  </div>
</div>
