
<!-- <a routerLink=""></a>
<a rel="stylesheet" routerLink="/display"></a> -->




<div class="back">
  <div class="wap">

    {{this.displaymenu._username}}
    <h1>{{this.displaymenu._username}}</h1>




    <div class="bordurdesign">
      <div class="Playerinfo">
        <div class="player1">{{this.displaymenu._username}}player1</div>
        <div class="player2">player2</div>
        <div class="player3">player3</div>
      </div>
      <div class="buttonorganised" >
        <div>        <a routerLink="/display"> display</a>      </div>
        <div>        <a routerLink="/result" rel="stylesheet">last result</a>     </div>
      </div>
    </div>
    <!-- <button (click)="leaderbord('act')">Leader Bord</button> -->
  </div>
</div>
